<%- include('parts/html-head') %> 
<%- include('parts/navbar') %> 


<div class="container">
    <h2>
        <i class="fas fa-wheelchair"></i>
    </h2>
    <%= name %> 
</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>



