<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>


<div class="container">

    <div><%= totalRows %></div>
    <div><%= totalPages %></div>


    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= page===1 ? 'disabled' :''  %>">
                        <a class="page-link" href="/address-book/list/<%= page-1 %>">
                            <i class="far fa-arrow-alt-circle-left"></i>
                        </a>
                    </li>
                    <% for (let i = 1 ; i<=totalPages ;i++) { %>
                    <li class="page-item <%= i===page ? 'active' :''  %>" >
                        <a class="page-link" href="/address-book/list/<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } %>
                    <li class="page-item <%= page===totalPages ? 'disabled' :''  %>">
                        <a class="page-link" href="/address-book/list/<%= page+1 %>">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>




    <!-- <%= JSON.stringify(rows) %> -->
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <i class="fas fa-trash-alt"></i>
                        </th>
                        <th scope="col">#</th>
                        <th scope="col">姓名</th>
                        <th scope="col">email</th>
                        <th scope="col">生日</th>
                        <th scope="col">手機</th>
                        <th scope="col">地址</th>
                        <th scope="col">
                            <i class="fas fa-edit"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i of rows){ %>
                    <tr>
                        <td>
                            
                            </a>
                        </td>
                        <td><%= i.sid %></td>
                        <td><%= i.name %></td>
                        <td><%= i.email %></td>
                        <td><%= i.birthday %></td>
                        <td><%= i.mobile %></td>
                        <td><%= i.address %></td>
                    
                        </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>



</div>

<%- include('../parts/scripts') %>
<script>
    function del_it(sid){
        if(confirm(`你確定要刪除編號為 ${sid} 的資料嗎?`)){
            location.href = '/address-book/del/'+sid;
        }

    }
</script>

<%- include('../parts/html-foot') %>